<tr>
  <td style="padding:30px;text-align:center;font-size:12px;background-color:#404040;color:#cccccc;">
    
    <p style="margin:0;font-size:14px;line-height:20px;">
      Phone : +91 72191 11597 
      <br>
      We are available 24 hours 7 days a week 
      <br>
      <a class="unsub" href="https://habtalks.com/contact.html" style="color:#cccccc;text-decoration:underline;">
       Habtalks
      </a>
    </p>
  </td>
</tr>
</table>
<!--[if mso]>
</td>
</tr>
</table>
<![endif]-->
</td>
</tr>
</table>
</div>
</body>
</html>