<app-auth></app-auth>
<br>

<app-ifelse></app-ifelse>

<br>

<app-switch></app-switch>
<br>

<app-loop></app-loop>
<br>

<app-data-transfer></app-data-transfer>
<br/>


custome directive
<span appCustomedesign >some text</span>
<br><br/>

router outlets
<br/>
<a routerLink="about" style="margin: 10px;"> about</a> 
<a routerLink="contactus" style="margin: 10px;" > contact us</a>
<a routerLink="notavailable" style="margin: 10px;" > Not available</a>
<a routerLink="page404" style="margin: 10px;" > 404</a>
<br/>
<router-outlet></router-outlet>
<br> <br>


services:
<br/>
name : {{name}}   (got from service)