<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        background-color: #dbdede;
        padding: 40px;
      }
      .box {
        background-color: #f2f2f2;
        display: block;
        margin: 0 auto !important;
        max-width: 560px;
        padding: 10px;
      }
      .my_button {
        width: 200px;
        height: 40px;
        background-color: #3498db;
        border-color: #3498db;
        border: 2px solid #3498db;
        border-radius: 5px;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>Hi there,</p>
        <p>
          Sometimes you just want to send a simple HTML email with a simple
          design and clear call to action.
        </p>
        <a href="https://google.com">
          <button class="my_button">Verify Account</button>
        </a>
        <p>
          This is a really simple email template. Its sole purpose is to get the
          recipient to click the button with no distractions.
        </p>
        <p>Good luck! Hope it works.</p>
      </div>
    </div>
  </body>
</html>
